<div th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <span class="fs-4">AutoParking</span>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 text-dark text-decoration-none" href="/">Главная</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/me">ЛК</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/data">Все пользователи</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/admin/set_roles">Изменить роль</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/admin/delete_user">Удалить</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/login">Вход</a>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Выйти"/>
            </form>
        </nav>
    </div>
</div>